.navbar{
  height: 70px;
}

.links, .logout {
  margin-top: 20px;
  /*margin-bottom: 20px;*/
}

.links a{
  font-size: 20px;
  color: white;
  padding: 7px 15px 7px 15px;
  /*height: 70px;*/
}

.page-title {
  margin-top: 70px;
  background-color: rgba(10,10,10,0.6);
  position: absolute;
  left: 200px;
  justify-content: flex-start;
  align-items: center;
  width: 70%; 
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border-color: lightblue;
}



.active {
  background-color:rgba(10,10,10,0.2); 
}

.signIn {
    height: 100%;
    width: 100%;
}

.text {
  color: #D0D0D0;
}

.login-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-container {
  display:flex;
  height: 400px;
  width: 50%;
  flex-direction:column;
  background-color: rgba(10,10,10,0.6);
  justify-content:center;
  border-style: solid;
  border-color: lightblue;
  border-width: 15px;
}

.login-title {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}

.login-button {
  text-align: center;
  margin-bottom: 30px;
}


#background { 
    background: url(../scrapbook.jpg) no-repeat center center fixed; 
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.gallery-container {
  height: 600px;
  width: 70%; 
  background: white;
  position: relative;
  top: 150px;
  left: 200px;
  display: flex;
  overflow:auto;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px; 
  flex-direction: column;
}

.section {
  flex-basis: auto;
  margin-top: 50px;
  height: 150px;
  width: 80%;
  border: 3px solid lightblue;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section a, .section img {
/*  border: 5px solid blue;
*/  
}

.inputForm {
  width: 70%; 
  position: relative;
  top: 80px;
  left: 200px;
  flex-direction: column;
  justify-content: center; 
  align-items: stretch;
  background: white; 
  height: 250px;
  width: 70%;
  border-radius: 3px;
  padding: 30px;
}

form > p {
  flex-grow: 1;
  min-width: 300px; 
  margin: 20px;
}

.inputs > label {
  flex-grow: 1;
  color: black;
  font-size: 17px;
  flex-basis: 100px;
  width: 100px;
  border-radius: 3px; 
}

.inputs > input {
  flex-grow: 2; 
  flex-basis: 300px;
  width: 300px;
  margin: auto;
}

p > button {
  background-color: #A4C73C;
  float: right;
  margin: 10px;
  border: none;
  font-color: white;
  border-radius: 3px;
  padding: 5px;
}

.facebook-login {
  background-color: transparent;
  border: 3px solid lightblue;
  width: 200px;
}

.facebook-login:hover {
  background-color: rgba(10,10,10,0.5);
}
